name: Docker
on:
  push:
  workflow_dispatch:
  
jobs:       
  docker:
    runs-on: ubuntu-24.04-ppc64le
    steps:
    - uses: actions/checkout@v5

    - name: nproc
      run: |
        nproc
        nproc --all

        docker run -it --name count debian:latest nproc
        # sudo apt update -y
        # sudo apt install -y systemd-container debootstrap
        # sudo debootstrap stable /var/lib/machines/test-image http://deb.debian.org/debian
        # #sudo systemd-nspawn -D /var/lib/machines/test-image --boot
        # sudo systemd-nspawn --quiet --link-journal=no --resolv-conf=auto --boot --set-credential=firstboot.locale:C.UTF-8 \
        #   --set-credential=firstboot.timezone:Etc/UTC --register no --directory /var/lib/machines/test-image  \
        #   --setenv enforcing=0 --setenv loglevel=6 --setenv module_blacklist=vmw_vmci --setenv ip=enc0:any --setenv ip=enp0s1:any --setenv ip=enp0s2:any \
        #   --setenv ip=host0:any --setenv ip=none --setenv loglevel=4 --setenv SYSTEMD_SULOGIN_FORCE=1 --setenv console=hvc0 --setenv TERM=dumb \
        #   systemd.mask=systemd-resolved.service systemd.log_ratelimit_kmsg=0 systemd.crash_shell printk.devkmsg=on systemd.early_core_pattern=/core \
        #   systemd.default_device_timeout_sec=180 systemd.log_level=debug udev.log_level=info systemd.show_status=false systemd.journald.forward_to_console \
        #   systemd.journald.max_level_console=info systemd.firstboot=no systemd.unit=mkosi-check-and-shutdown.service rw systemd.wants=network.target \
        #   systemd.tty.term.hvc0=dumb systemd.tty.columns.hvc0=80 systemd.tty.rows.hvc0=24 systemd.tty.term.console=dumb systemd.tty.columns.console=80 \
        #   systemd.tty.rows.console=24 systemd.unit=multi-user.target

    
    # - name: Install Docker
    #   run: |
    #     curl -fsSL https://get.docker.com -o get-docker.sh
    #     sudo sh get-docker.sh
    # - name: Start Docker
    #   run: |
    #     sudo systemctl start docker || (sudo dockerd > /tmp/dockerd.log 2>&1 & sleep 10)
    # - name: Docker test
    #   run: |

    #     docker info
    #     docker ps 
    #     sudo docker info
