name: Helm

# Only run on branches (e.g. not tags)
on:
  workflow_dispatch:

jobs:
  heml:
    name: helm-in-lxd 
    runs-on: ubuntu-24.04-ppc64le

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: test
        run: |

          lxd init --preseed < preseed.yml
          lxc launch ubuntu:24.04 test

          echo "mtu on job container: "
          ip a

          echo "mtu on build container"
          lxc exec test -- ip a


          
          lxc exec test -- echo 182757 > /proc/sys/net/core/netdev_max_backlog
          lxc exec test -- echo "up ip link set eth0 txqueuelen 10000" >> /etc/network/interfaces
          lxc ls
          lxc exec test -- ping -c3 8.8.8.8
