name: Podman

# Only run on branches (e.g. not tags)
on:
  workflow_dispatch:

jobs:
  heml:
    name: setp
    runs-on: ubuntu-24.04-ppc64le

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: check
        run: | 
          podman --version

          sudo apt update -y;

          sudo apt install podman -y;
