name: Python

# Only run on branches (e.g. not tags)
on:
  workflow_dispatch:

jobs:
  heml:
    strategy:
      matrix:
        include:
          - arch: s390x
            runner: ubuntu-24.04-s390x
          - arch: ppc64le
            runner: ubuntu-24.04-ppc64le
          - arch: amd64
            runner: ubuntu-24.04
    name: setp
    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python on ${{ matrix.arch }}
        if: matrix.arch == 'amd64'
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Setup Python on ${{ matrix.arch }}
        if: matrix.arch != 'amd64'
        uses: IBM/setup-python-pz@main
        with:
          architecture: ${{ matrix.arch }}
          python-version: 3.13

      - name: check
        run: | 
          python --version
          python -c "import platform; print(platform.machine())"
