name: Python

# Only run on branches (e.g. not tags)
on:
  workflow_dispatch:

jobs:
  heml:
    name: setp
    runs-on: ubuntu-24.04-ppc64le

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: IBM/setup-python-pz@main
        with:
          architecture: 'ppc64le'
          version: 3.13

      - name: check
        run: | 
          python -v
